.pageContainer {
  position: relative; 
  z-index: 1;
  background-color: transparent; 
}

.pageContainer::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  background-image: url('https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/blog/finance/difference-between-money-finance-funds-717X404.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  opacity: 0.5;
  filter: blur(8px);
}